.title {
    color: black;
}

.acount {
    background-image: url(../../images/wallet2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wallet {
    min-height: 80vh;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
}

.saved_coins {
    display: flex;
    width: 100%;
    height: 18vh;
    align-items: center;
    justify-content: space-between;
    background-color: #070616;
    padding-left: 1rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    transition: .3s ease all;
}
.saved_coins:hover {
    background-color: #17154b;
}

.wallet_img {
    width: 6rem;
    height: 6rem;
}

.wallet_symbol {
    font-family: 'Audiowide', cursive;
    color: white;
}

.wallet_price {
    font-family: 'Audiowide', cursive;
    color: white;
}

.wallet_change {
    font-family: 'Audiowide', cursive;
    color: white;
}
.number_red {
    color: rgb(205, 1, 1);
}
.number_green {
    color: green;
}

.wallet_market_price {
    font-family: 'Audiowide', cursive;
    color: white;
}

.delete_icon {
    width: 5rem;
    height: 5rem;
    color: #5e62e2;
    transition: .3s ease all;
}
.delete_icon:hover {
    color: rgb(205, 1, 1);
}

.footer_wallet {
    margin-top: -4rem;
}