.coinText_title, .coinText {
    font-family: 'Audiowide', cursive;
    color: #070616;
}

.coin_page {
    background-image: url("../../../images/coinPage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: fixed;
}

.coin_page_container {
    display: flex;
    height: 77.5vh;
}

.containerLeft {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.containerLeft_text {
    padding-top: 2rem;
}

.coinDetail_img {
    width: 18rem;
    height: 18rem;
    
}

.containerRight {
    width: 60vw;
    padding-inline: 4rem;
}

.footer_coin_detail {
    margin-top: -8rem;
}