.coinText_title, .coinText {
    font-family: 'Audiowide', cursive;
    color: white;
}

.coin_page {
    background-image: url("../../../images/coinPage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

.coin_page_container {
    display: flex;
    min-height: 80vh;
}

.containerLeft {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.containerLeft_text {
    padding-top: 2rem;
}

.coinDetail_img {
    width: 18rem;
    height: 18rem;
    
}

.containerRight {
    width: 60vw;
    padding-inline: 4rem;
}

.coin_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80px;
    background: #070616;
    color: white;
    font-family: 'Audiowide', cursive;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.coin_button::after {
    content: "";
    width: 120%;
    height: 40px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 100px);
    border-right: 80px solid transparent;
    border-bottom: 80px solid #2bbaf1;
    transition: .4s ease-in-out all;
}
.coin_button:hover::after {
    left: 0px;
}

.button_spam {
    position: relative;
    z-index: 2;
    font-size: 3rem;
    transition: .3s ease all;
}

.footer_coin_detail {
    margin-top: -20.3vh;
}