@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.home {
    z-index: 1;
    height: 100%;
    background-color: #070616;
}

p {
    color: white;
    font-family: 'Audiowide', cursive;
}

h1 {
    font-family: 'Audiowide', cursive;
}

.home_header {
    height: 80vh;
}
.carousel_img {
    size: contain;
    width: 100%;
    height: 100vh;
    opacity: 10px;
}

.carousel_text {
    font-size: 4.1rem;
    border-radius: 10px;
    text-shadow: 5px 5px 10px #070616;
}

.carousel-caption {
    top: 20vh
}

.carousel-indicators {
    visibility: hidden;
}

.carousel-control-prev-icon {
    visibility: hidden;
}

.carousel-control-next-icon {
    visibility: hidden;
}

.mainHome_card1 {
    height: 100vh;
    padding-inline: 6rem;
}

.main_card_text {
    color: #5e62e2;
}

.mainHome_card1_text {
    position: absolute;
    width: 40vw;
    background-color: #070616;
    border: #5e62e2 solid 3px;
    border-radius: 8px;
    margin-top: 3rem;
    padding: 2rem;
}

.mainHome_card1 {
    display: flex;
    padding-inline: 6rem;
    padding-top: 8rem;
}

.mainHome_card1_img {
    width: 100%;
    height: fit-content;
    padding-left: 15%;
}

.mainHome_card2 {
    display: flex;
    padding-inline: 6rem;
    padding-top: 8rem;
}

.mainHome_card2_img {
    width: 85%;
    height: fit-content;
}

.mainHome_card2_text {
    position: absolute;
    width: 40vw;
    background-color: #070616;
    border: #5e62e2 solid 3px;
    border-radius: 8px;
    margin-top: 16rem;
    padding: 2rem;
    margin-left: 45vw;
}

.mainHome_backgrounds {
    height: 100vh;
    margin-top: 12rem;
    padding-inline: 6rem;
}

.card {
    margin-inline: 5rem;
    top: 50vh;
    transform: translateY(-50%);
    border-radius: 20px;
}

.card-body {
    background-color: #070616;
    height: 30vh;
    border-radius: 20px;
    border: white solid 4px;
}

.card-text {
    color: white;
}

.card-title {
    color: white;
    font-family: 'Audiowide', cursive;
}

.card_backg1 {
    background-image: url(../../images/cardbg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
}

.card_backg2 {
    background-image: url(../../images/cardbg2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
}

.card_backg3 {
    background-image: url(../../images/cardbg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
}