.link {
    text-decoration: none;
    color: white;
}
.link:hover {
    color: white;
}

.mb-3 {
    height: 20vh;
    top: 80vh;
    transition: ease-in-out 0.5s;
}
.mb-3:hover {
    background-color: #070616c0;
}

.navbar-brand {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    margin-bottom: 1.4rem;
}

.brand {
    color: #5e62e2;
    font-size: 12vh;
    font-family: 'Audiowide', cursive;
    transition: ease-in-out 0.5s;
}
.brand:hover {
    font-size: 13vh;
    color: #2bbaf1;
}

.navbar-toggler-icon {
    font-size: 4rem;
}
span.navbar-toggler-icon {
    background-image: url("../../../images/nav_icon1.png");
    transition: ease-in-out 0.5s;
}
span.navbar-toggler-icon:hover {
    background-image: url("../../../images/nav_icon2.png");
    font-size: 4.4rem;
}

.offcanvas {
    max-width: 2rem;
}

.offcanvas-header {
    background-color: #5e62e2;
}

.offcanvas_tittle {
    font-size: 3rem;
    margin-top: 2rem;
    color: white;
}

.btn-close {
    display: none;
}

.offcanvas-body {
    background-color: #070616;
    color: white;
    font-size: 1.4rem;
}

.nav_icon {
    margin-top: -8px;
    font-size: 1.8rem;
    margin-right: 10px;
}

.nav-link {
    margin-top: 1.5rem;
    margin-left: 8px;
}

.nav_icon_central {
    font-size: 3rem;
    margin-top: -28px;
    margin-right: 1rem;
    color: white;
}