body {
  margin: 0;
  background-color: #070616;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#07061600, #5e62e2);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#07061600, #2bbaf1);
}
::-webkit-scrollbar-track {
  background:#070616e1;
}