.main {
    height: 100vh;
    background-image: url(./images/Abstract-mesh-vector-violet_3840x2160.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.mb-3 {
    height: 20vh;
    top: 80vh;
}

.navbar-brand {
    position: absolute;
    left: 39vw;
    margin-right: 0px;
    margin-bottom: 1.4rem;
}

.brand {
    color: #5e62e2;
    font-size: 12vh;
}

.navbar-toggler-icon {
    font-size: 3rem;
    color: #5e62e2;
    display: none;
}

.offcanvas-header {
    background-color: #5e62e2;
}

.offcanvas_tittle {
    font-size: 6rem;
    margin-top: 2rem;
    color: white;
}

.btn-close {
    display: none;
}

.icon_globe {
    font-size: 7rem;
    margin-top: -4rem;
    color: white;
}

.offcanvas-body {
    background-color: #070616;
    color: white;
    font-size: 1.5rem;
}

.nav_icon {
    margin-top: -8px;
    font-size: 2rem;
    margin-right: 10px;
}

.nav-link {
    margin-top: 1.5rem;
    margin-left: 8px;
}