header {
    height: 100vh;
    background-image: url(./images/Abstract-mesh-vector-violet_3840x2160.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid-navbar {
    background-color: #070616;
    width: 100%;
    height: 9rem;
}

.navbar {
    height: 100vh;
}

.navbar-brand {
    display: flex;
    font-size: 5rem;
    color: #5e62e2;
    justify-content: center;
    padding: 0%;
    padding-bottom: 24px;
}

.navbar-toggler {
    margin-bottom: 40px;
    margin-right: 28px;
    padding: 0%;
    border: 0px;
}

.bi {
    color: #5e62e2;
}

.offcanvas-header {
    background-color: #5e62e2;
}

.offcanvas-body {
    background-color: #070616;
}

.offcanvas-title {
    text-align: center;
    font-size: 4rem;
}

.fa-globe {
    padding-right: 1rem;
}

.nav-link {
    font-size: 26px;
    padding: 1rem;
}

.nav-icon {
    padding-right: 1rem;
}